<a href="teste">
  <div class="card">
      <img class="card-img-top" src="{{img}}">
      <div class="card-block">
          <h4 class="card-title">{{titulo}}</h4>
          <div class="meta">
              <a href="#">Friends</a>
          </div>
          <div class="card-text">
              Tawshif is a web designer living in Bangladesh.
          </div>
      </div>
      <div class="card-footer">
          <!--<span class="float-right">Joined in 2013</span>-->
          <span><i class="fa fa-clock-o"></i>  12/10/2017</span>
      </div>
  </div>
</a>
